//===================
// Colour Scheme
//===================
$primary: rgb(255,255,255);
$primaryBlack: #141414;
$primaryAccent:#E44E48;
$mainBackground: #F6F7F9;

$footerBackground: #444;
$footerSecondary: #231F1F;

//===================
// Font Fam
//===================
$basefont: "Cabin", sans-serif;   // weights available: 400, 700
$secondaryfont: "Playfair Display", serif;  // weights available: 400 italics, 700